/* GLOBAL STYLES */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#root {
  max-width: 1100px;
  text-align: center;
  color: black;
}

/* HEADER */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("./bg-img.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
}

.header-subtitle {
  color: #ffd15b;
  text-transform: uppercase;
  font-family: anton;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 50px;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 auto;
}

.header-input {
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: left;
  color: gray;
  background-color: white;
  height: 100%;
  width: 100%;
}

.search-button {
  background-color: black;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.search-icon {
  font-size: 1.2rem;
  color: white;
}

/* RECIPE LIST */
.recipe-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  gap: 16px;
}

.recipe-time {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffd15b;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.recipe-card {
  background-color: white;
  position: relative;
  width: 80%;
  border-radius: 8px;
  text-align: left;
  margin: 0 auto;
}

.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-details {
  padding: 16px;
}

/* INGREDIENTS GRID */
.ingredients-title {
  color: #7a7a7a;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.ingredients-description {
  font-size: 0.8rem;
  margin-bottom: 10px;
  line-height: 0.8rem;
}

.ingredients-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 10px;
}

.ingredient-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.9rem;
  text-align: start;
}

.ingredient-name {
  font-weight: bold;
}

.ingredient-quantity {
  font-size: 0.8rem;
  color: gray;
}

/* MEDIA QUERIES */
@media (min-width: 768px) and (max-width: 1023px) {
  .recipe-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .header {
    height: 70vh;
  }

  .header-title {
    font-size: 1.8rem;
  }

  .header-subtitle {
    font-size: 1.2rem;
  }

  .recipe-card {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .recipe-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    height: 80vh;
  }

  .header-overlay {
    width: 80%;
  }

  .header-subtitle {
    font-size: 1.8rem;
    width: 75%;
  }

  .recipe-card {
    width: 90%;
  }
}
